ЛР1.vcxproj
ЛР1.vcxproj.filters
ЛР1.vcxproj.user
ЛР1.sln

x64/
Orладка/
Debug/
Release/
.vs/

ЛР2.vcxproj
ЛР2.vcxproj.filters
ЛР2.vcxproj.user
ЛР2.sln

lll.vcxproj
lll.vcxproj.filters
lll.vcxproj.user
lll.sln

laba_4.vcxproj
laba_4.vcxproj.filters
laba_4.vcxproj.user
laba_4.sln