ЛР1.vcxproj
ЛР1.vcxproj.filters
ЛР1.vcxproj.user
ЛР1.sln

x64/
Orладка/
Debug/
Release/
.vs/

ЛР2.vcxproj
ЛР2.vcxproj.filters
ЛР2.vcxproj.user
ЛР2.sln

laba_3.vcxproj
laba_3.vcxproj.filters
laba_3.vcxproj.user
laba_3.sln